# macOS
.DS_Store

# LaTeX build output
*.pdf
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
missfont.log

# latexmk
*.dvi
*.ps
